* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,109,91,1) 35%, rgba(222,184,135,1) 100%);
    align-items: flex-start;
    justify-content: center;
    display: flex;
    height: 100vh;
    padding: 50px; /* Added padding for smaller screens */
}

.container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    max-width: 450px;
    height: auto;
    background-color: #dedede;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px; /* Added padding for spacing */
}

.label {
    text-align: center; /* Center-aligned text */
    font-size: 35px;
    font-weight: bold;
    color: #006D5B;
}

.login_form {
    display: flex;
    flex-direction: column;
}

.login_form .font {
    font-size: 18px;
    color: #006D5B;
    margin: 10px 0; /* Increased margin for better spacing */
}

.login_form input {
    height: 40px;
    width: 100%;
    max-width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.login_form .font2 {
    margin-top: 30px;
}

.login_form button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 100%;
    max-width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #006D5B;
    border-radius: 3px;
    border: 1px solid #04b396;
    transition: 0.5s;
}

.login_form button:hover {
    background: #015345;
}

.login_form #email_error,
.login_form #pass_error {
    margin-top: 5px;
    width: 100%;
    max-width: 345px;
    font-size: 15px;
    color: #c62828;
    display:none;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        margin-top: 50px; /* Reduced margin for smaller screens */
    }

    .label {
        font-size: 28px; /* Reduced font size for smaller screens */
        padding: 10px; /* Reduced padding for smaller screens */
    }

    .login_form input {
        width: 100%; /* Full width for input fields */
    }

    .login_form button {
        width: 100%; /* Full width for button */
    }
}
